/.bundle
/.env*
!/.env.example
/.kamal/secrets
/.kamal/secrets-common
/config/credentials/*.key
/config/master.key
/log/*
!/log/.keep
/node_modules
/public/assets
/storage/*
!/storage/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
!/tmp/storage
!/tmp/storage/.keep
/vendor/bundle
.DS_Store
